body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	line-height: 1.5;
	font-size: 18px;
	color: #778;
	margin: 0;
	padding: 0;
}

img.header {
	width: 100%
}

@media screen and (min-width: 700px) {
	body {
		font-size: 22px;
	}
}

article {
	padding: 3em;
	max-width: 600px;
	margin: auto;
}

article > img {
	width: 100%;
}

a {
	color: #111;
}

