/* .activity-overlay {
	position: fixed;
	top: 2em;
	right: 2em;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.activity-overlay .readable-width {
	display: flex;
	justify-content: flex-end;
	padding-top: 4%;
} */
.activity {
	bottom: 2em;
	right: 2em;
	position: fixed;

	display: flex;
	align-items: center;
	background-color: #5423E2;
	color: white;
	font-size: 1.4em;
	font-weight: 500;
	padding: 0.6em;
	padding-left: 0.8em;
	padding-right: 1em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	border-radius: 0.7em;
	overflow: hidden;
	box-shadow: 0 2px 40px rgba(84, 35, 226, 0.5);
	z-index: 10;
}
.goldMode .activity {
	background-color: #F7EFA1;
	box-shadow: 0 2px 40px #665C00;
}
@media screen and (max-width: 700px) {
	.activity-container {
		font-size: 0.8em;
	}
	.activity {
		bottom: 1em;
		right: 1em;
	}
}
/* @media screen and (max-width: 350px) {
	.activity-container {
		font-size: 0.7em;
	}
	.activity {
		top: 0.5em;
		right: 0.5em;
	}
} */
.goldMode .activity {
	background: linear-gradient(45deg, rgba(215,195,12,1) 0%,rgba(245,239,201,1) 50%,rgba(215,195,12,1) 100%);
	color: #665C00;
}
.activity .flex-space {
	flex-grow: 1;
}
.activity .chevron {
	width: 1.4em;
	margin-right: 0.5em;
	opacity: 0.5;
	transition: transform 0.6s ease-in-out;
}
.activity .coin {
	width: 2em;
	margin-right: 10px;
}
.message .bubble, .message .action {
	border-radius: 17px;
	font-size: 17px;
	line-height: 1.3;
	padding: 6px 10px;
	display: inline-block;
}

.coinAnimationContainer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	transform-origin: bottom left;
}
.coinAnimationContainer, .coinAnimationContainer > img {
	transition: transform 0.6s ease-out;
}

.coinAnimationContainer:not(.started) {
	transform: rotate(-90deg);
}

.coinAnimationContainer > img {
	position: absolute;
}

.coinAnimationContainer:not(.started) > img {
	transform: translate(0, 0) scale(4, 4);
}
