.intro {
	background-color: #5423E2;
	padding-top: 4%;
	padding-bottom: 3%;
}
.intro .readable-width {
    position: relative;
}
.intro img {
    width: 100%;
    height: auto;
}
.goldMode .intro {
	background: linear-gradient(45deg, rgba(215,195,12,1) 0%,rgba(245,239,201,1) 50%,rgba(215,195,12,1) 100%);
}
.goldMode .intro img {
	filter: invert(1);
}
/* 
.intro .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.socialIcon {
    width: 36px;
    height: 36px;
    margin-left: 22px;
    background-color: white;
    border-radius: 50%;
}


@media screen and (min-width: 600px) {
    .intro .social {
        position: absolute;
        top: 0;
        right: 0; 
        margin: 0;   
    }
    .socialIcon {
        width: 3vw;
        height: 3vw;
        margin-left: 1.5vw;
    }
} */
