.intro {
	background-color: #5423E2;
	padding-top: 4%;
	padding-bottom: 3%;
}
.intro .readable-width {
    position: relative;
}
.intro img {
    width: 100%;
    height: auto;
}
.goldMode .intro {
	background: linear-gradient(45deg, rgba(215,195,12,1) 0%,rgba(245,239,201,1) 50%,rgba(215,195,12,1) 100%);
}
.goldMode .intro img {
	filter: invert(1);
}
