.slot-machine-container {
    /* dark grad bg */
    background: linear-gradient(#211c36, #1a172c);
    padding-top: 5em;
    overflow: hidden;
    position: relative;
}

.slot-machine {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: linear-gradient(#8059f7, #5423E2);
    border-radius: 4px;
    color: white;
    padding: 1px;
    text-align: center;
    padding-bottom: 6em;
    margin-bottom: -6em;
    z-index: 1;
}

/* use :after: to draw a skewed rectangle to represent the side of the slot machine */
.slot-machine:after {
    content: "";
    background-color: #2f108a;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 2em;
    /* skew vert w/ origin top left */
    transform: skewY(45deg);
    transform-origin: top left;
}

.slot-header {
    /* bg gradient from 764EE8 to 5829E3 */
    height: 5em;
    /* background: linear-gradient(#764EE8, #5829E3); */
    position: relative;
}

.slot-header:before {
    content: "";
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    background-image: url(../images/slots/header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slot-box {
    position: relative;
    background-color: #ddd5f4;
    overflow: hidden;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 50%;
}

.slot-wheels {
    position: absolute;
    left: 3em;
    right: 3em;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width: 600px) {
    .slot-box {
        padding-left: 2em;
        padding-right: 2em;
    }
    .slot-wheels {
        height: 10em;
    }
} */

/* 
.slot-wheels:before, .slot-wheels:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 60%;
    opacity: 0.3;
    z-index: 10;
} */

.slot-cover {
    background-image: url(../images/slots/cover.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media screen and (max-width: 700px) {
    .slot-wheels {
        font-size: 2vw; /* reduces size of content within */
    }
}

.slot-wheel:not(:last-child) .slot-icon {
    border-right: 2px solid #2a0d7e;
}

.slot-wheels:before {
    top: 0;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.slot-wheels:after {
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.slot-wheel, .slot-icon {
    width: 8em;
    height: 8em;
}

.slot-wheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    will-change: transform;
}

.slot-icon {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
}

.slot-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Footer */

.slot-footer {
    margin: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

.slot-machine p {
    margin-bottom: 2em;
    line-height: 1.5;
    opacity: 0.5;
}

@media screen and (max-width: 500px) {
    .slot-machine p {
        font-size: 13px;
    }
}

.skeu-button-inset {
    font-weight: semibold;
    color: white;
    padding: 0.5em 1em;
    padding-right: 1.5em;
    border-radius: 2em;
    display: inline-flex;
    align-items: center;
    font-size: large;
    user-select: none;

    /* bg is gradient from black at 50% opacity to white at 30% opacity */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.3));

    position: relative;
}

.skeu-button-inset.disabled {
    /* desat */
    filter: saturate(0);
    opacity: 0.5;
    cursor: not-allowed;
}

.skeu-button-inset:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: #451DB7;
    z-index: 1;
    border-radius: 2em;
}

.skeu-button-inset > * {
    z-index: 2;
}

.skeu-button-inset img {
    height: 2em;
    margin-right: 0.3em;
    margin-left: -0.3em;
}

.skeu-button-inset:active {
    /* filter darken */
    filter: brightness(0.8);
}

@keyframes slotShakeNO {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.shakeNO .slot-machine {
    animation: slotShakeNO 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


@keyframes slotShakeYES {
    16% {
        transform: rotate(-5deg);
    }
    32% {
        transform: rotate(7deg);
    }
    48% {
        transform: rotate(-10deg);
    }
    64% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.shakeYES .slot-machine, .shakeYES_XL .slot-machine {
    transform-origin: 50% 70%;
    animation: slotShakeYES 2s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes slotsRotateForever {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOutHalfOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

.slot-machine-container.shakeYES:before, .slot-machine-container.shakeYES_XL:before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 200vw;
    height: 200vw;
    margin-left: -100vw;
    margin-top: -100vw;
    background-size: cover;
    background-position: center;
    background-image: url(../images/sunburst-white.svg);
    z-index: 0.5;
    animation: slotsRotateForever 10s linear infinite, fadeInOutHalfOpacity 2s linear infinite;
}

.slot-machine-container.shakeYES_XL:before {
    animation: slotsRotateForever 10s linear infinite, fadeInOut 2s linear infinite;
}

.slot-machine-container.shakeYES_XL {
    animation: wildlyFlashColors 2s linear infinite;
}

@keyframes wildlyFlashColors {
    0% {
        background: #211c36;
    }
    20% {
        background: #00FFE0;
    }
    40% {
        background: #5423E2;
    }
    60% {
        background: #FF006F;
    }
    80% {
        background: #FFE817;
    }
    100% {
        background: #211c36;
    }
}
