.social {
    padding: 2em 0;
	background-color: #F3339733;
}

.social p {
	margin-bottom: 0;
}

.goldMode .social {
	background: linear-gradient(45deg, rgba(215,195,12,1) 0%,rgba(245,239,201,1) 50%,rgba(215,195,12,1) 100%);
}

.social .hscroll {
	padding-top: 1.5em;
}

.socialLink {
	border: 3px solid black;
	background-color: white;
	padding: 16px 10px;
	box-sizing: border-box;
	width: 140px;
	box-shadow: 4px 4px 0px rgba(0,0,0,1);
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 1em;
	text-decoration: none;
	color: inherit;
	position: relative;
}
.socialLink img {
	width: 5em;
	height: 5em;
	border-radius: 1.5em;
	overflow: hidden;
}
.socialLink .name {
	font-weight: 500;
	margin-bottom: 6px;
	margin-top: 6px;
}
.socialLink .subtitle {
	opacity: 0.5;
}
.socialLink:not(.unlocked) .subtitle {
	opacity: 1;
	color: #5423E2;
}

.socialLink:not(.unlocked):before {
	content: "";
	background-image: url('../images/coin-small.png');
	width: 3em;
	height: 3em;
	position: absolute;
	top: -1.5em;
	right: -1.5em;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 10;
}
