
.nptv {
    background-color: #F7F4FF;
    border: 1px solid transparent;
    font-size: 1vw;
}

.tv-container {
    width: 92em;
    height: 54em;
    margin: 20em auto;
    margin-top: 16em;
    position: relative;
}

@media screen and (min-width: 600px) {
    .nptv {
        font-size: 0.6vw;
    }
}

@media screen and (min-width: 1200px) {
    .nptv {
        font-size: 8px;
    }
}

.tv-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(#DAA070, #7B3D1D);
    border-radius: 1em;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    z-index: 1;
}


/* TV antenna */
.tv-antenna {
    position: absolute;
    content: "";
    background-image: url(../images/tv/Antenna.svg);
    bottom: 90%;
    width: 30%;
    left: 60%;
    height: 50%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* TV Base */
.tv-body:after {
    position: absolute;
    content: "";
    background-image: url(../images/tv/Base.svg);
    top: 100%;
    width: 130%;
    left: -15%;
    height: 100%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.tv-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.tv-screen {
    flex-grow: 1;
    position: relative;
    margin: 1.4em;
    margin-right: 0;
    box-sizing: border-box;
    padding: 5em;
}

.tv-screen video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tv-logo {
    position: absolute;
    width: 12em;
    height: 12em;
    object-fit: contain;
    right: 8em;
    bottom: 7em;
}

.tv-screen:after {
    position: absolute;
    content: "";
    background-image: url(../images/tv/Frame.svg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tv-controls {
    width: 17.6em;
    flex-shrink: 0;
    background-image: url(../images/tv/Sidebar.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    align-items: center;
}

.tv-channel {
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 2em;
    border-radius: 50%;
    box-shadow: 0 0.5em 0 rgba(0,0,0,0.2);
    cursor: default;
}

.tv-channel:hover {
    background-color: rgba(255,255,255,0.7);
}

.tv-channel:active {
    background-color: rgba(215, 215, 215, 0.95);
    box-shadow: 0 0.2em 0 rgba(0,0,0,0.2);
    transform: translateY(0.3em);
}

.tv-channel span {
    font-size: 4em;
    color: #969490;
}
