.archive-embed {
    width: 100%;
    height: 200vh;
    background-color: black;
}

.archive-commute {
    width: 100%;
    height: 1000vh;
    background: linear-gradient(to bottom, #fff, #000);
}
.archive-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: black;
    container-type: size;

    font-family: 'Lucida Grande', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12px;
}
.archive-box {
    width: 100cqmin;
    aspect-ratio: 1;  
    box-sizing: border-box;
    position: relative;
}

.archive-mac-frame {
    position: absolute;
    left: 3.9%;
    top: 2.92%;
    width: 92.37%;
    height: 74.84%;
    border-radius: 3.08%;
    background-color: #FFFFFF;
}

.archive-mac-border {
    position: absolute;
    left: 2.76%;
    top: 2.11%;
    width: 94.32%;
    height: 76.79%;
    border-radius: 3.73%;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
}

.archive-mac-stand {
    background-image: url(Stand.svg);
    position: absolute;
    left: 34.9%;
    top: 75.16%;
    width: 30.03%;
    height: 22.56%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.archive-mac-circle {
    background-color: #A7ACB2;
    width: 8.77%;
    height: 8.77%;
    opacity: 0.3;
    border-radius: 50%;
    top: 64.29%;
    left: 45.45%;
    position: absolute;
}

.archive-mac-screen {
    position: absolute;
    background-color: black;
    left: 9.58%;
    top: 8.12%;
    width: 80.52%;
    height: 52.92%;
    border: 0.65cqmin solid #000000;
    box-sizing: border-box;
}
.archive-mac-screen iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.archive-desktop-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
