@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.archive-container {
  --size: calc(min(133vw, 100vh)); /* 133vw = 1000 (image height) / 750 (image width) */
  background-color: #1B182D;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.archive-container img.fullsize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
  transition: top 0.3s ease-in-out;
  pointer-events: none;
}

.archive-click-target {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(var(--size) * 0.4);
  height: calc(var(--size) * 0.4);
  cursor: url('./Key.png'), auto;
  z-index: 10;
}

.archive-container .drawer-contents-clipper {
  --drawer-width: calc(var(--size) * 0.5);
  position: absolute;
  width: var(--drawer-width);
  left: calc((100% - var(--drawer-width)) * 0.5);
  display: flex;
  /* align bottom */
  align-items: flex-end;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out, top 0.3s ease-in-out;
}

.archive-container.open .drawer-contents {
  /* border: 1px solid red; */
  width: 100%;
  height: calc(var(--size) * 0.77);
  cursor: pointer;
}

.drawer-content-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rotated-drawer-item {
  height: 0;
  flex-grow: 1;

  /* transform: rotateX(-20deg); */
  transform-origin: top center;
  transform-style: preserve-3d;
  perspective: 300px;
}

.rotated-drawer-item > * {
  position: relative;
}

.rotated-drawer-item > *:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1) 10%);
}

.archive-item-card {
  width: var(--drawer-width);
  height: calc(var(--drawer-width) * 0.5);
  object-fit: cover;
  object-position: top;
  border: 4px solid #d7d7df;
  box-sizing: border-box;
  border-radius: 2px;
}

.archive-item-card.directory {
  background-color: #C1AB91;
  position: relative;
  border: 0;
}

.archive-item-card.directory h3 {
  position: absolute;
  top: calc(var(--drawer-width) * -0.12);
  left: calc(var(--drawer-width) * 0.1);
  height: calc(var(--drawer-width) * 0.1);
  width: calc(var(--drawer-width) * 0.5);
  padding-left: calc(var(--drawer-width) * 0.08);
  padding-top: calc(var(--drawer-width) * 0.03);
  font-size: calc(var(--drawer-width) * 0.03);
  color: rgba(0,0,0,0.8);
  font-family: 'Gloria Hallelujah', cursive;
  /* do not escape container */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-image: url('./Tab.svg');
  /* fill the container stretching */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0.8);
  transform-origin: bottom left;
}

.fullscreen-artifact {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
}

.fullscreen-preview {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.fullscreen-preview .overlay-caption {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: small;
  font-weight: semibold;
  /* system font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 0.5em;
  border-radius: 5px;
}

.post-it-note {
  position: absolute;
  width: 200px;
  height: 200px;
  pointer-events: none;
  background-image: url('./PostIt.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.post-it-text {
  position: absolute;
  inset: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  line-height: 1.4;
  color: #2c2c2c;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  overflow: hidden;
}
