body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	line-height: 1.5;
	margin: 3em;
	font-size: 18px;
	color: #778;
}

@media screen and (min-width: 700px) {
	body {
		font-size: 22px;
	}
}

article {
	max-width: 600px;
	margin: auto;
}

article > img {
	width: 100%;
}

a:link {
	color: #113;
}

